{{ $snapshots := site.Data.spotify }}
{{ if $snapshots }}
{{ $latest := "" }}
{{ range $key, $_ := $snapshots }}{{ $latest = $key }}{{ end }}
{{ partial "spotify-style.html" . }}
{{ partial "spotify-grid.html" (index $snapshots $latest).top_artists }}
<p class="spotify-snapshot-caption">As of {{ (time $latest).Format "January 2, 2006" }} &middot; <a href="{{ "music-archive/" | relURL }}">View past snapshots</a></p>
{{ else }}
<p><em>No Spotify data available. Run the fetch script to populate.</em></p>
{{ end }}
